<section class="section">
    <div class="container is-fluid">
        <div class="notification separator">
            <p class="title is-2">Dashboard</p>
            <p class="subtitle is-4">Welcome to your dashboard {{user.username}}!</p>
        </div>
    </div>
</section>

<section class="section">
    <div class="container is-fluid">
        <div class="notification separator">
            <p class="title is-4">Current Featured Rooms</p>
            <p class="subtitle is-6">Here are today's fetured rooms.</p>
        </div>
        {{> rooms}}
    </div>
</section>