{{!-- home hero banner --}}
<section class="hero home">
    <div class="hero-body">
        <div class="container hero-form">
            <h1 class="title">
                Find the best rooms for you
            </h1>
            <form action="#" class="form">
                <div class="field">
                    <div class="control">
                        <label for="where" class="label">LOCATION:</label>
                        <input class="input is-primary" type="text" id="where" placeholder="Anywhere">
                    </div>
                </div>
                <div class="form-dates">
                    <div class="field">
                        <div class="control">
                            <label for="checkin" class="label">CHECK-IN:</label>
                            <input class="input is-primary" type="date" id="checkin" placeholder="Anywhere">
                        </div>
                    </div>
                    <div class="field">
                        <div class="control">
                            <label for="checkout" class="label">CHECK-OUT:</label>
                            <input class="input is-primary" type="date" id="checkout" placeholder="Anywhere">
                        </div>
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        <label for="guest" class="label">GUEST:</label>
                        <input class="input is-primary" type="number" id="guest" placeholder="None (0)">
                    </div>
                </div>
                <div class="field submit">
                    <div class="control">
                        <button type="submit" class="button is-primary">Search</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>


<section class="section">
    <div class="container is-fluid">

        <div class="notification separator">
            <p class="title is-4">Featured Rooms</p>
            <p class="subtitle is-6">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cum eum quidem
                asperiores. Sint
                officiis labore delectus cupiditate nam distinctio illum voluptate possimus voluptas exercitationem,
                temporibus
                quidem repudiandae, maiores ad. Quam.</p>
        </div>

        <!-- room listing section -->
        {{> rooms}}

        <div class="info">
            <div class="notification separator">
                <p class="title is-4">Learn more about us</p>
                <p class="subtitle is-6">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cum eum quidem
                    asperiores. Sint
                    officiis labore delectus cupiditate nam distinctio illum voluptate possimus voluptas exercitationem,
                    temporibus
                    quidem repudiandae, maiores ad. Quam.</p>
            </div>
            <div class="hero about">
                <div class="hero-body">
                    <a class="button" href="/about-us">Learn more</a>
                </div>
            </div>
        </div>
    </div>
</section>