<section class="section">
    <div class="container is-fluid">
        <div class="container login-form" style="max-width: 30em;">
            <h1 class="title">
                Login
            </h1>
            <form action="#" class="form">
                <div class="field">
                    <div class="control">
                        <label for="username" class="label">Username or email:</label>
                        <input class="input is-primary" type="text" id="username" placeholder="Username">
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        <label for="password" class="label">Password:</label>
                        <input class="input is-primary" type="password" id="password" placeholder="password">
                    </div>
                </div>
                <div class="field submit">
                    <div class="control">
                        <button type="submit" class="button is-primary">Login</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>