{{!-- show banner image --}}
<section class="hero rooms">
    <div class="hero-body">
    </div>
</section>

<section class="section">
    <div class="container is-fluid">
        {{> rooms}}
    </div>
</section>
