*{
    margin: 0;
    padding: 0;
}

:root {
    --border-radius: 4px;
    --bgc-primary: #273848;
}

.button.is-primary {
    background-color: var(--bgc-primary);
}

.input.is-primary {
    border-color: var(--bgc-primary);
}

.navbar-item img {
    max-height: 3rem;
}

header.section {
    padding: 1.5em;
}

.columns {
    display: grid !important;
    grid-template-columns: repeat(3, 1fr);
}

.container.is-fluid {
    max-width: 1024px;
}

.card {
    border-radius: var(--border-radius);
    overflow: hidden;
}

.hero.home {
    background-image: url('/img/hero-home-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    min-height: 90vh;
}

.footer {
    background-color: #273848;
    color: white;
}

.footer .brand {
    color: #fafafa;
}

.footer ul, .content ul ul {
    list-style: none;
    margin: 0;
}

.footer ul li {
    display: block;
}

.footer ul li > a {
    color: #fafafa;
}

.footer ul li > a:hover {
    color: #f14668
}

.footer .control .label {
    color: #fafafa;
}

.footer-links {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 1.5em;
}

.container .separator {
    background-color: transparent;
    padding: 0;
}

.hero .hero-form {
    background-color: white;
    padding: 3em 2em;
    border-radius: 4px;
    max-width: 30em;
    margin: 3em;
    box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1), 0 0px 0 1px rgba(10, 10, 10, 0.02);
}

.hero-form .input{
    background-color: white;
}

.hero-form .label{
    font-weight: 600;
    font-size: small;
}

.hero-body {
    backdrop-filter: blur(2px);
}
@media screen and (max-width: 1023px){
    .navbar-burger {
        padding: 1.5em;
    }
    
    .navbar-menu {
        box-shadow: none;
        display: unset;
        transform: translateY(-14em);
        transition: transform 0.3s ease-out;
        position: absolute;
        visibility: hidden;
    }
    
    .navbar-brand {
        background-color: white;
        z-index: 1;
        position: relative;
    }
    
    .navbar-menu.is-active {
        transform: translateY(0);
        position: fixed;
        visibility: visible;
        z-index: 0;
        width: 100%;
        margin: -1.5em;
        padding: 1.5em;
        overflow: hidden auto;
    }
}

@media screen and (max-width: 768px) {
    .columns {
        grid-template-columns: repeat(2, 1fr);
    }
    .footer-links .newsletter {
        grid-column: 1/4;
    }

    .footer-links {
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (max-width: 550px) {
    .columns {
        grid-template-columns: repeat(1, 1fr);
    }
}
